{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} index {% endblock %}

{% block page_content %}
<div class="page-header">
    <h2> favicon internal url is : {{ url_for('static', filename='favicon.ico') }} </h2>
    <h2> favicon external url is : {{ url_for('static', filename='favicon.ico', _external=True) }} </h2>
    <h1>----------------------------------------------------------------------------------------</h1>
    <h2> the local date and time is {{ moment(current_time).format('LLL') }}. </h2>
    <h2> that was {{ moment(current_time).fromNow(refresh=True) }} </h2>
    <h1>----------------------------------------------------------------------------------------</h1>
    <h2>Hello, {% if name %}{{name}}{% else %}Stranger{% endif %}...</h2>
    {% if not known %} <p>Pleased To Meat YOU!</p> {% else %} <p>Happy To Meat YOU Again!</p> {% endif %}
    <h2>You Selected #[ {% if selected_item %} {{selected_item}} {% else %} Nothing {% endif %} ]#</h2>
    <h1>----------------------------------------------------------------------------------------</h1>
</div>
{{ wtf.quick_form(form) }}
{% endblock %}
